<%=flash[:message]%>

<h3> Welcome <%=@user.first_name%> <%=@user.last_name%> </h3>

<h3> Ready to start? </h3>
<a href="/users/<%=@user.id%>">View or Edit My Services</a> <br>
<a href='/services/new'>Add a new Service</a> <br>

<h3> All the services for users: </h3>

<ul>
    <% @services.each_with_index do |service, index| %>  
        <li><%= index+1%>: <a href="/services/<%=service.id%>"><%= service.name %> // <%= service.kind %> // <%= service.level %></a></li>  
    <%end%>
</ul>