<h3> Service ID <%= @service.id %> </h3>
<h4> Name: <%= @service.name %> </h4>
<h4> Kind: <%= @service.kind %> </h4>
<h4> Level: <%= @service.level %> </h4>

<a href="/services">All Services</a> <br><br>
<a href="/users/<%=@service.user_id%>">My Services</a> <br>
<a href="/services/<%=@service.id%>/edit">Edit Service</a> <br><br>